.imageModify{
    margin-left: auto;
    margin-right:auto;
    border-radius: .25rem;
    width: 100%;
    height: auto;
    resize: both;
}
.inputAmountCss{
    margin-left: 1rem;
   
}
.inputfieldcss{
    width:25px;
    border-radius: 1rem;
}
#decButton, #incButton {
    border-radius: 1rem;
}
.required:after{
    content: " *";
    color: red;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.dialogScreen{
   
    height: 60%;
}
.addbtnCart{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: 2px;
    width: 80%;
    height: 20%;
    color: azure;
    background-color:hsl(0, 100%, 20%);
    border-radius: .7rem;
}
.addbtnCart:hover{
     color: hsl(0, 100%, 40%);
     background-color:azure;
}
.cancelbtn{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: 2px;
    width: 80%;
    height: 20%;
    color:hsl(0, 100%, 20%);
    background-color: white;
    border-radius: .7rem;

}
.makepaymentBtn {
    width: 80%;
    height: 60px;
    color: azure;
    background-color:hsl(0, 100%, 20%);
    border-radius: .7rem;
}
.continueShopBtn{
    width: 80%;
    height: 60px;
    color:hsl(0, 100%, 20%);
    background-color: white;
    border-radius: .7rem;
}
.makepaymentBtn, .continueShopBtn{
    margin-top:  1rem;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}

.cancelbtn:hover{
      color: azure;
      background-color:hsl(0, 100%, 40%);
}

section {
    overflow-y: scroll;
    scroll-behavior: smooth; 
}

.section-food{
   display: block;
   background-position-y: 120px;
  
}

.sectionTitle{
    top:60px;
    text-align: center;
   

}
.titlesection{
    padding-top: 100px; 
    /* background-color: hsl(142, 95%, 24%); */
    height: 100px;
    
}
.inner-title-section{
    height: 50px;
    padding-bottom: 0px;
    /* background-color: aqua; */
}
.outer-title-section{
    height: 150px;
}
.receiptPaper{
    padding: spacing(2);
    margin-left:6px;
  
}
.alignment-data{
    text-align: right;
    margin-right: 1rem;
}