
.dialogScreen{
    height: 60%;
}
.alignment-data{
    text-align: right;
    margin-right: 1rem;
}
.price{
    position: absolute;
    display: flex;
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #e90800;
    color: #fff;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}
.footerIcon{
    align-content: center;
    width: fit-content;
    margin-left: 20%;
    text-align: center;
}