.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainContent{
 
}


.navbarCss {
  display: block;
  margin-bottom: 60px;
}
body{
  font-family:Arial, Helvetica, sans-serif ;
  
}

#navbar{
  position:sticky ;
  background-color:white;
  z-index: 1100;
  height: 60px;
  top: 60px;
}
#listitem{
  top: 120px;
}
#myFooter{
  margin-top: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: auto;
  
}