.customize-item-choice {
    display:inline;
     
     flex-wrap: nowrap;
     -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
    /* 
    text-align: center;
    
    border-bottom: 3px solid transparent;
    padding: 14px 16px; */
    padding: 0 0 15px 0;
}
.uniqueUl, .uniqueLi{
    display: block;
    list-style: none;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    

}

.boxoption{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}
.uniqueUl {
    
    display: block;
    
    position:static ;
    overflow: scroll;
    background-color: white;
    padding: 14px 16px;
}

.uniqueLi {
    font-size: 20px; 
    color:  hsl(0, 86%, 5%);
    display: block;
    text-align: end;
    border-bottom: 3px solid transparent;

  


}
.uniqueLi:hover{
    border-bottom: 3px solid hsl(0, 100%, 20%);
    transition: border-bottom 1s;
    transition-duration: 1s;
}
.uniqueImg {
    display: flex;

    max-width: 100%;
    height: 50px;
    -ms-interpolation-mode: bicubic;
}
.uniqueImg {
    border-style: none;
}
figure {
    display: block;
   
    /* margin-inline-start: 40px;
    margin-inline-end: 40px; */
}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}
.small-6 {
    width: calc(50% - 1.3888888889rem);
}
.hasPrice{
    position: absolute;
    display: flex;
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #e90800;
    color: #fff;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}
.section-option{
    display: inline;
}
.itemOption, .itemDetail{
    display: block;
}

.itemOption{
  position: relative;
  display: flex;
  flex-wrap: row nowrap;
  overflow-x: auto;
  margin-left:5%;
  margin-right: auto;
  /* background-color: aqua; */
  width: 90%;
  max-width: 100%;
  text-decoration: none;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  padding-left: 1rem;
  border-bottom: 3px solid transparent;

}


/* 
.itemDetail:active{
     opacity: 1;
     border-bottom: 3px solid  hsl(0, 60%, 34%);
     transition: border-bottom  1s smooth;
     transition-duration: .5s;
} */

/* .itemDetail{
    padding-top: 1rem;
    opacity: 0.5;
    

} */
 /* .itemDetail:hover{     
     border-bottom: 3px solid  transparent;
     transition: border-bottom  1s smooth;
     transition-duration: .5s;
    
} */
   
   .isActive{
     opacity: .5;
     border-bottom: 3px solid  transparent;
     transition: border-bottom  1s smooth;
     transition-duration: .5s;
   }
   .isNOtActive{
        opacity: 1;
     border-bottom: 3px solid  transparent;
     transition: border-bottom  1s smooth;
     transition-duration: .5s;
   }
   .isActive:hover{
     opacity: 1;
     border-bottom: 3px solid  hsl(0, 60%, 34%);
     transition: border-bottom  1s smooth;
     transition-duration: .5s;
    
}
   .isActive:active{
     opacity: 1;
     border-bottom: 3px solid  hsl(0, 60%, 34%);
     transition: border-bottom  1s smooth;
     transition-duration: .5s;

}





.item-node{
  
    display: block;
    padding-left: 0;
  
}

.outer-title-this-oder{
   display: flex;
   flex-wrap: wrap;
   background-position-y: 120px;
   margin-left: 1rem;
   width: fit-content;
   /* background-color: yellow; */
}
